/* Ajouter les propriétés de l'image du meilleur film */
@font-face {
  font-family: titleFont;
  src: url("../fonts/Shojumaru-Regular.ttf");
}
.best_movie {
    height: 100%;
    width: 100%;
    opacity: 0.2;
    display: flex;
}
.best_movie:hover {
    transform: none;
}
.best-film {
    padding-left: 60px;
    border: white 5px solid;
    display: flex;
    justify-content: space-around;
    height: 450px;
}
.best-film:hover {
    border: rgb(212, 175, 55) 5px solid; /* gold */
}
.play, .button {
    border-radius: 5px;
    padding: 5px;
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
.play {
    background-color: white;
    width: 100px;
}
.button {
    background-color: grey;
    width: 150px;
}
.button:hover {
    transform: scale(1.1);
}
h3 {
    text-align: left;
}
.in-best-film {
    flex: 2;
    display: flex;
    flex-direction: column;
    max-width: 1680px;
}
.img-zone {
    flex: 1;
    text-align: center;
}
.img-best {
    height: 100%;
    width: 45%;
}
.title-best-film {
    font-size: 32px;
    text-align: left;
    text-transform : uppercase;
    color: white;
    font-family: titleFont, "Lucida Handwriting", Arial;
    font-weight: bold;
    width: 10%;
}
.description {
    width : 100%;
    text-align: left;
    font-weight: bold;
    font-size: 32px;
    color: white;
}