.background-modal {
    display: none;
    position: fixed;
    top: 150px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 2;
}
#modal {
    display: none;
    position: fixed;
    background-image: url("../images/movie_bg.png");
    border: rgb(98, 112, 124) 20px solid;
    height: 80%;
    left: 25%;
    right: 25%;
    top: 10%;
    padding: 0px 10px;
    z-index:5;
    overflow: scroll;
}
.modal-content {
    height: auto;
}
.img-modal {
    width: 35%;
    height: 35%;
}
.modal-content img {
    margin: 10px;
    float: right;
    clear: both;
    transform: none;
}
.close {
    text-align: center;
    background-color: grey;
    border: rgba(0, 0, 0, 0.253) 1px solid;
    max-height: 30px;
    max-width: 30px;
    position: fixed;
    color: black;
    font-weight: 700;
    font-size: 28px;
    cursor: pointer;
    z-index: 10;
    right: 27%;
}
.text-modal p {
    font-size: 16px;
    margin: 9px;
    margin-left: 5%;
}
.text-modal {
    padding-top: 40px;
}
em {
    font-size: 32px;
    font-style: normal;
    font-weight: bold;
    color: rgb(100, 100, 50);
}
strong {
    text-decoration: underline;
    font-size: 32px;
}
span {
    font-size: 32px;
}