.film-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 450px;
    background-color: black;
}
.film-list {
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(98, 112, 124);
    height: 350px;
    width: 90%;
}
.film-list div{
    height: 300px;
    min-width: 250px;
    padding: 72px 72px;
    text-align: center;
}
.img-film {
    height: 268px;
    width: 150%;
    display: inline-block;
}