.film-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: black;
}
.film-list {
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(98, 112, 124);
    height: 350px;
    width: 90%;
}
.film-list div{
    height: 300px;
    min-width: 190px;
    margin: 5px;
    padding: 15px;
    text-align: center;
}
.img-film {
    height: 300px;
}